@media only screen and (max-width: 600px) {

  /* header */
  .email,
  .topbar-num {
    display: none;
  }



  .logo-principale {
    display: flex;
    align-items: center;
    height: 100%;
    width: 45%;
  }

  .header-logo {

    height: 50%;
    width: 75%;
  }

  .header {
    height: 150px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 55%;
    justify-content: center;
  }

  .menu div {
    margin-bottom: 10px;
  }

  /* End header */
  /* gallerie */
  .gallerie-image1 {
    height: 200px;
    width: 100%;
  }


  .title-image1 {
    position: absolute;
    top: 30%;
    left: 20%;
    color: rgb(0, 0, 0);
  }

  /* container */
  .image {

    width: 70%;
    height: 250px;

  }


  /* end container */


  /* end gallerie */


  /* footer */
  .footer-left {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


  }

  .footer-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .footer-right a {
    margin-top: 25px;
  }


  /* End footer */
}