body {
    font-family: poppins;
    margin: 0;
}

/* header */
.header-principale {
    font-size: 12px;
    font-family: Poppins;
}

.topbar {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
    background: var(--main-color, #1A2B48);
    box-sizing: border-box;
}



.email a:hover,
.listes-right a:hover,
.menu a:hover {
    text-decoration: underline;
}

.listes-social {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.listes-social img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.topbar-lift {
    display: flex;
    align-items: center;
    text-decoration: none;

}

.listes-right {
    display: flex;
    justify-content: space-between;
}

.listes-right a {
    color: white;
    margin-left: 40px;
}

.header a,
.email a,
.listes-right a {
    text-decoration: none;
    list-style: none;

}

.listes-right li,
.email li,
.listes-social li {

    list-style: none;
}

.header {
    height: 100px;
    display: flex;
    font-size: 17px;
    padding: 5px 25px 0px 25px;
    box-sizing: border-box;
    margin: 0;
}

.logo-principale {
    height: 100%;
    width: 25%;
}

.header-logo {
    height: 100%;
    width: 80%;
}

.menu {
    display: flex;
    align-items: center;
    height: 100%;
    width: 65%;
    flex-wrap: wrap;
}

.menu div {
    color: black;
    margin-left: 10%;
}

/* End Header */

/* Content */


.background1 {
    height: 500px;
    width: 100%;

}

.background1 img {
    height: 100%;
    width: 100%;

}

.div-h {
    position: absolute;
    top: 40%;
    left: 20%;
}

.title span {
    font-size: 35px;
}


.title {
    font-size: 15px;
    text-align: center;

}


.title-service {
    text-align: center;
    line-height: 0.7;
}

/* service */

.service {
    display: flex;
    flex-direction: column;
    background-image: url(images/image2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0px 25px;
}

.service p {
    color: white;
}

.services p {
    margin-top: 0;
}

.services img {
    width: 60px;
    height: 60px;
}


.services {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}



.services div {
    width: 20%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* end service */

/* review */
.title-review {
    margin-top: 60px;
    text-align: center;
}

.review {
    display: flex;
    margin: 5% 10%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}



.review div {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    border-radius: 20px;
}

.img-review {
    height: 100px;
    width: 110px;
    border-radius: 50%;
}

.img-star {
    height: 60px;
    width: 110px;
}

/* end review */

/* End content */

/* footer */
.footer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: #1A2B48;
    padding: 25px;
    box-sizing: border-box;

}

.footer-left {

    width: 35%;
    display: flex;
    flex-direction: column;
}

.footer-right {
    display: flex;
    justify-content: space-between;
}

.logo-footer {
    width: 40%;
    height: 100px;
}

.logo-footer img {
    width: 100%;
    height: 70%;
}



.footer-right a {
    color: white;
    margin-right: 24px;
    text-decoration: none;
}

.listes-social2 a {
    padding-right: 10px;

}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 35px;
}

/* End footer */