body {
    font-family: poppins;
    margin: 0;
}


/* header */
.header-principale {
    font-size: 12px;
    font-family: Poppins;
}

.topbar {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
    background: var(--main-color, #1A2B48);
    box-sizing: border-box;
}



.email a:hover,
.listes-right a:hover,
.menu a:hover {
    text-decoration: underline;
}

.listes-social {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.listes-social img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.topbar-lift {
    display: flex;
    align-items: center;
    text-decoration: none;

}

.listes-right {
    display: flex;
    justify-content: space-between;
}

.listes-right a {
    color: white;
    margin-left: 40px;
}

.header a,
.email a,
.listes-right a {
    text-decoration: none;
    list-style: none;

}

.listes-right li,
.email li,
.listes-social li {

    list-style: none;
}

/* header */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    margin: auto;
    padding: .9rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;

}

.logo-principale {
    width: 17%;
    height: 75px;
}

.header-logo {
    width: 100%;
    height: 100%;

}


nav {
    margin-right: 8%;
    font-size: 18px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 100px;
}

nav ul li a {
    display: block;
    margin: .6rem 0;
    padding: .6rem 1.25rem;
    text-decoration: none;
    color: #000000;
}


@media (max-width: 810px) {
    header {
        position: relative;
        width: 100%;
    }

    .menu-toggle {
        position: absolute;
        right: 5%;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        margin: .6rem;
        cursor: pointer;
        text-align: center;
        font-size: 1.2rem;
        color: #42495B;
    }

    .menu-toggle::before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 2.6rem;
        font-size: 1.6rem;
    }

    .menu-toggle.active::before {
        content: '\f00d';
        font-size: 1.6rem;
    }

    nav {
        position: absolute;
        display: none;
    }

    nav ul li a {
        margin: 0;
        color: #42495B;
    }

    nav ul li {
        list-style: none;
        margin-left: 0px;
    }

    nav.active {

        display: flex;

        flex-direction: column;
        width: 100%;
    }

    nav.active ul {
        display: block;
        position: absolute;
        top: 35px;
        left: 0;
        width: 100%;
        color: #42495B;
        text-align: center;
        background-color: #F8F1F1;
    }

}


/* End Header */

/* Gallerie */
.gallerie-image1 {
    height: 500px;
    width: 100%;
}


.title-image1 {
    position: absolute;
    top: 30%;
    left: 40%;
    color: rgb(0, 0, 0);
}





/* container */

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #2F3238;

}

.image {

    position: relative;
    width: 27%;
    height: 250px;
    margin: 20px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: relative;

    transition: 0.6s;

}

.image:hover img {

    background-color: rgba(0, 0, 0, 0.4);
}

.image .details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

.image .details h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-top: 70px;
    transition: 0.4s;
}



.image:hover .details h2 {
    transform: translateY(-30px);
}

.image .details p {
    margin: 30px 30px 0 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform;
}

.image:hover .details p {
    opacity: 1;
    transform: translateY(-40px);
}

.more {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;

    padding: 15px;
    bottom: -60px;
    transition: 0.6s;

}

.image:hover .more {
    bottom: 0;
}

.more .read-more {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}


/* end container */
/* end gallerie */

/* footer */
.footer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: #1A2B48;
    padding: 25px;
    box-sizing: border-box;

}

.footer-left {

    width: 35%;
    display: flex;
    flex-direction: column;
}

.footer-left h5 {
    margin-bottom: 25px;
}

.footer-right {
    display: flex;
    justify-content: space-between;
}



.logo-footer {
    width: 40%;
    height: 100px;
}

.logo-footer img {
    width: 100%;
    height: 70%;
}



.footer-right a {
    color: white;
    margin-right: 24px;
    text-decoration: none;
}

.listes-social2 a {
    padding-right: 10px;

}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 35px;
}

/* End footer */